/*CSS for all pages*/
footer{
  clear: both;
  background-color: #6699ff;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: #fff;
}


/*CSS for all end*/

/*CSS general*/
.center-text{
  text-align: center;
}
.border{
  border-top: 1px solid black;
  padding-top: 10px;
}
.float-left{
  float: left;
}
.float-right{
  float:right;
}
.clear{
  clear: both;
}
/*end of CSS general*/



/*navigation bar for all three pages*/
#main-navbar {
  font-family:'Limelight', cursive;
  font-size: 20px;
  font-weight: bold;
  background-color: #6699ff;
  overflow: hidden;
  width: 100%
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 3px
}
#onpage {
  background-color: #0066cc;
}

/*CSS for page 1*/
.resume-background {
  background-color: #cce6ff;
}
#resume-outline{
  width: 70%;
  margin: 0 auto 5% auto;
  padding: 1% 1% 1% 1%;
  background-color: #ffffe6;
}
/*End of CSS Page 1*/

/*CSS for page 2*/

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 2.0vw; 
}

.cat4 {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 500px;
  height: 500 px;
  object-fit: cover;  
  
}

.backstory { 
  text-align: center;
  font-size: 20px;
  margin: auto;
  width: 640px; 
  padding: 50px;
  font-family: 'Lexend Deca', sans-serif;
}
.column {
  display: flex;
  justify-content: space-between;
}

.back {
  width: 30%
  heigh: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}	
}
.img {
  padding: 12px;
  width: 200px;
  height: 200px;
}

/*End of CSS page 2*/

/*CSS for page 3*/
/*End of CSS page 3*/